@use "../../styles/variables.scss" as vars;
@use "../../styles/mixins.scss" as mixins;

.membersContainer {
  background-color: vars.$primaryColor;
  height: 100vh;
  overflow-y: scroll;

  h1{
    color:vars.$fourthly-color ;
    font-family: vars.$Members-font;
    text-align: center;
    font-size: 48px;
    margin: 0;
    padding-bottom: 20px;
  }

  .membersCardContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin-bottom: 100px;
  
  }

  .memberCard {
    background-color: vars.$fifth_color;
    width: 600px;
    height: 70vh;
    box-shadow: vars.$primaryShadow;
  }
}


@include mixins.laptop {
  .membersContainer{
    h1{
      padding-bottom: 0;
    }
  }
}