.logInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;

  .formHeader {
    font-family: $primary-font;
    color: $fourthly-color;
    font-size: 48px;
    text-align: center;
  }

  .formGroup {
    display: flex;
    flex-direction: column;

    input {
      width: fit-content;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $fourthly-color;
      height: 40px;
      width: 450px;
      outline: none;
      font-size: 32px;
      color: $fourthly-color;
      padding: 10px;
    }

    input::placeholder {
      color: $fourthly-color;
      opacity: 60%;
      font-size: 32px;
    }

    .secondInput{
      padding-top: 40px;
    }
  }

  .buttonContainer{
    padding-top: 35px;

    .LogInButton{
      height: 60px;
      width: 300px;
      border-radius: 4px;
      background-color: $thirdly-color;
      border: none;
      color: $fourthly-color;
      font-size: 32px;
      cursor: pointer;
      box-shadow: $primaryShadow;
    }

    a{
      color: $fourthly-color;
      opacity: 60%;
      font-size: 32px;
      font-family: $primary-font;
      text-decoration: none; 
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }
  }
}
