@use '../../styles/variables.scss' as vars;
@use '../../styles/mixins.scss' as mixins;

.images-container {
  position: relative;
  width: 50%;
  height: 100%;

  .image {
    position: absolute;
    border-radius: 10px;
    box-shadow: vars.$primaryShadow;
    height: auto;

    &-1 {
      width: 60%;
      top: -20%;
      left: 10%;
      z-index: 2;
    }

    &-2 {
      width: 50%;
      top: 30%;
      left: 45%;
      z-index: 1;
      transform: rotate(-5deg);
    }

    &-3 {
      width: 55%;
      top: 70%;
      left: 15%;
      z-index: 3;
      transform: rotate(5deg);
    }
  }
}