@use '../../styles/variables.scss' as vars;
@use '../../styles/mixins.scss' as mixins;
.SignUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none ;


  .formHeader {
    font-family: vars.$primary-font;
    color: vars.$fourthly-color;
    font-size: 48px;
    text-align: center;
  }

  .formGroup {
    display: flex;
    flex-direction: column;

    input {
      width: fit-content;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid vars.$fourthly-color;
      height: 40px;
      width: 450px;
      outline: none;
      font-size: 32px;
      color: vars.$fourthly-color;
      padding: 10px;
    }

    input::placeholder {
      color: vars.$fourthly-color;
      opacity: 60%;
      font-size: 32px;
    }

    .secondInput{
      padding-top: 40px;
    }
  }

  .buttonContainer{
    padding-top: 35px;

    .SignUpButton{
      height: 60px;
      width: 200px;
      border-radius: 4px;
      background-color: vars.$thirdly-color;
      border: none;
      color: vars.$fourthly-color;
      font-size: 32px;
      cursor: pointer;
      box-shadow: vars.$primaryShadow;
    }

    a{
      color: vars.$fourthly-color;
      opacity: 60%;
      font-size: 22px;
      font-family: vars.$primary-font;
      text-decoration: none; 
      display: flex;
      justify-content: center;
      padding-top: 20px;
      transition: background-color 0.5s ease, color 0.5s ease;
    }
    a:hover{
      color: vars.$thirdly-color;
    }
  }

  @include mixins.laptop {
    .formGroup{
      input{
        width: 350px ;
      }
    }
  }
}


