@use "../../styles/variables.scss" as vars;
@use '../../styles/mixins.scss' as mixins;
.SignInLogInContainer {
  background-color: vars.$primaryColor;
  height: 100vh;
  display: flex;
  align-items: center;

  .mainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
  }

 
}



