//brake points
$breakpoint-mobile: 768px;
$breakpoint-laptop: 1600px;
$breakpoint-desktop: 1610px;
//fonts
$primary-font: "Roboto", serif;
$AboutUs-font: "Rock Salt", serif;
$Projects-font: "Orbitron", serif;
$Members-font: "Kumar One", serif;
$primary-weight: 400;
$primary-style: normal;
//colors
$primaryColor:#36393B;
$secondaryColor:#5C6165;
$thirdly-color: #7392B7;
$fourthly-color: #EFF1ED;
//shadows
$primaryShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);