.footerContainer{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;


  img{
    position: relative;
    margin-right: 50px;
    top: 30px;
    transition: top 0.3s ease;
  }

  img:hover{
    top:0;
  }

  .birthdayClock{
    margin-left: 50px;
  }
}