@use "../../styles/variables.scss" as vars;
@use "../../styles/mixins.scss" as mixins;

.projectsContainer {
  overflow-y: scroll;
 .containers{
  height: calc(300vh - 200px);
    .fistProjectContainer{
      height: calc(100vh - 200px);
      background-color: vars.$primaryColor;
      display: flex;
      flex-direction: column;
    }

    .secondProjectContainer{
      position: relative;
      height: 100vh;
      background-color: vars.$primaryColor;
    }

    .thirdProjectContainer{
      display: flex;
      align-items: end;
      height: 100vh;
      background-color: vars.$primaryColor;
    }
  }
}

@include mixins.laptop{
  
}